<h4>DatePipe</h4>
<!-- {{ today | date:"fullDate"}} -->


<h4>Decimal Pipe</h4>
{{num | number}}

<h4>percent</h4>
{{0.232 | percent}}

<h4>JSON Object </h4>
{{ student | json}}

<input type="date" name="birthdate" [(ngModel)]="birthdate">
<h3> {{birthdate}} </h3>
<h3>{{birthdate | date}}</h3>
<h3> {{birthdate | date:'short'}} </h3>
<h3> {{birthdate | date:'long'}} </h3>
<h3> {{birthdate |date:'full'}} </h3>
<h3> {{birthdate | date:'dd/mm/yyyy'}} </h3>

<h3>i18nSelect:genderMapping</h3>
{{gender | i18nSelect:genderMapping}}




